In [6]:
import pandas as pd

# Import Data

In [7]:
user1 = {1:[1,11,55],2:[1,59,55],3:[2,58,55],4:[0,100,55]}

In [10]:
df1 = pd.DataFrame.from_dict(user1)

In [12]:
df1

    1   2   3    4
0   1   1   2    0
1  11  59  58  100
2  55  55  55   55