In [14]:
import pandas as pd
import math
import numpy as np

# Import Data

In [20]:
users = {"all_0": {1:[0,71,0,6.152284842306582],2:[2,7,0,2.8328900141647417],3:[0,94,0,6.556506054671928],4:[2,80,0,6.324180546618741],5:[2,18,0,4.1799090900149345],6:[0,21,0,4.400879436282184],7:[1,25,0,4.651051691178929],8:[1,90,0,6.493855449240822],9:[2,2,0,1.0874628412503393],10:[0,16,0,4.011227255423254],11:[0,91,0,6.509775004326937],12:[2,77,0,6.269126679149418],13:[1,58,0,5.861086905995394],14:[1,88,0,6.461479447286156],15:[1,81,0,6.342074667999139],16:[0,27,0,4.7615512324444795],17:[2,45,0,5.495855026887171],18:[1,6,0,2.6147098441152083],19:[1,25,0,4.651051691178929],20:[0,84,0,6.394462694610317],21:[1,90,0,6.493855449240822],22:[2,88,0,6.461479447286156],23:[2,97,0,6.60177078840771],24:[2,50,0,5.647458426454921],25:[2,33,0,5.049848549450561],26:[0,81,0,6.342074667999139],27:[0,57,0,5.836050355058069],28:[1,35,0,5.134426320220926],29:[2,10,0,3.3398500028846247],30:[0,58,0,5.861086905995394],31:[2,65,0,6.025139562278508],32:[2,23,0,4.531381460516312],33:[0,67,0,6.0687782779854125],34:[2,95,0,6.571752643503546],35:[1,77,0,6.269126679149418],36:[0,92,0,6.525520809095069],37:[2,20,0,4.330916878114617],38:[1,74,0,6.211888294546004],39:[1,29,0,4.864186144654281],40:[0,80,0,6.324180546618741],41:[1,56,0,5.810571634741147],42:[2,18,0,4.1799090900149345],43:[1,48,0,5.588714635582264],44:[1,95,0,6.571752643503546],45:[1,94,0,6.556506054671928],46:[0,74,0,6.211888294546004],47:[2,90,0,6.493855449240822],48:[1,19,0,4.257387842692652],49:[1,50,0,5.647458426454921],50:[2,10,0,3.3398500028846247],51:[0,22,0,4.467605550082998],52:[1,19,0,4.257387842692652],53:[0,26,0,4.7073591320808825],54:[0,34,0,5.092757140919852],55:[1,88,0,6.461479447286156],56:[2,89,0,6.477758266443888],57:[0,81,0,6.342074667999139],58:[2,8,0,3.0223678130284544],59:[0,46,0,5.527477006060396],60:[0,88,0,6.461479447286156]}

        }

In [22]:
count = 0
list_of_df = []
for key in users:
    df = pd.DataFrame.from_dict(users[key], 
                             orient='index', 
                             columns=['type', 'true', 'predicted', 'logError'])
    df['user'] = key
    list_of_df.append(df)
    count+= 1
compiled = pd.concat(list_of_df)

In [23]:
black = compiled.loc[compiled['type'] == 0].reset_index(drop="True")
grayscale = compiled.loc[compiled['type'] == 1].reset_index(drop="True")
colored = compiled.loc[compiled['type'] == 2].reset_index(drop="True")

# Analyze Results

In [24]:
compiled

    type  true  predicted  logError   user
1      0    71          0  6.152285  all_0
2      2     7          0  2.832890  all_0
3      0    94          0  6.556506  all_0
4      2    80          0  6.324181  all_0
5      2    18          0  4.179909  all_0
6      0    21          0  4.400879  all_0
7      1    25          0  4.651052  all_0
8      1    90          0  6.493855  all_0
9      2     2          0  1.087463  all_0
10     0    16          0  4.011227  all_0
11     0    91          0  6.509775  all_0
12     2    77          0  6.269127  all_0
13     1    58          0  5.861087  all_0
14     1    88          0  6.461479  all_0
15     1    81          0  6.342075  all_0
16     0    27          0  4.761551  all_0
17     2    45          0  5.495855  all_0
18     1     6          0  2.614710  all_0
19     1    25          0  4.651052  all_0
20     0    84          0  6.394463  all_0
21     1    90          0  6.493855  all_0
22     2    88          0  6.461479  all_0
23     2    97          0  6.601771  all_0
24     2    50          0  5.647458  all_0
25     2    33          0  5.049849  all_0
26     0    81          0  6.342075  all_0
27     0    57          0  5.836050  all_0
28     1    35          0  5.134426  all_0
29     2    10          0  3.339850  all_0
30     0    58          0  5.861087  all_0
31     2    65          0  6.025140  all_0
32     2    23          0  4.531381  all_0
33     0    67          0  6.068778  all_0
34     2    95          0  6.571753  all_0
35     1    77          0  6.269127  all_0
36     0    92          0  6.525521  all_0
37     2    20          0  4.330917  all_0
38     1    74          0  6.211888  all_0
39     1    29          0  4.864186  all_0
40     0    80          0  6.324181  all_0
41     1    56          0  5.810572  all_0
42     2    18          0  4.179909  all_0
43     1    48          0  5.588715  all_0
44     1    95          0  6.571753  all_0
45     1    94          0  6.556506  all_0
46     0    74          0  6.211888  all_0
47     2    90          0  6.493855  all_0
48     1    19          0  4.257388  all_0
49     1    50          0  5.647458  all_0
50     2    10          0  3.339850  all_0
51     0    22          0  4.467606  all_0
52     1    19          0  4.257388  all_0
53     0    26          0  4.707359  all_0
54     0    34          0  5.092757  all_0
55     1    88          0  6.461479  all_0
56     2    89          0  6.477758  all_0
57     0    81          0  6.342075  all_0
58     2     8          0  3.022368  all_0
59     0    46          0  5.527477  all_0
60     0    88          0  6.461479  all_0